DOMAIN_URL=https://xxx.sa.ngrok.io

VC_AUTHORITY=did:web:xxx.sa.ngrok.io
VC_CREDENTIAL_MANIFEST=https://verifiedid.did.msidentity.com/v1.0/tenants/xxx/verifiableCredentials/contracts/xxx/manifest
AZURE_TENANT_ID=4600638d-xxx-43a0-8619-xxx
AZURE_ISSUER_OAUTH2_CLIENT_ID=
AZURE_ISSUER_OAUTH2_CLIENT_SECRET=
AZURE_VERIFIER_OAUTH2_CLIENT_ID=
AZURE_VERIFIER_OAUTH2_CLIENT_SECRET=
IDP_ISSUER_URI: ${DOMAIN_URL} or https://{auth0-tenant}.auth0.com/
IDP_OAUTH2_CLIENT_ID: portal
IDP_OAUTH2_CLIENT_SECRET: 00000000–0000–0000–0000–000000000000
