<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <title>Verifiable Credential Issuer Playground</title>
  <script src="https://alcdn.msauth.net/browser/2.30.0/js/msal-browser.js" integrity="sha384-o4ufwq3oKqc7IoCcR08YtZXmgOljhTggRwxP2CLbSqeXGtitAxwYaUln/05nJjit" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@gh-pages/qrcode.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body class="border-0 m-0">
<nav class="navbar navbar-expand-md shadow-sm" style="background-color:#1b46b3">
  <div class="container">
    <a href="#" class="navbar-brand">
      <img width="60" height="60" th:src="@{/images/enterprise-v2.png}" alt="Enterprise Portal"></img>
      <img width="170" height="60" th:src="@{/images/magnolia-logo.png}" alt="Enterprise Portal"></img>
    </a>
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent3" aria-controls="navbarSupportedContent3" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent3" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active"><a href="#" class="nav-link text-white display-header">Enterprise Sign in <i class="fa fa-sign-in" aria-hidden="true"></i><span class="sr-only">(current)</span></a></li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
<div class="container justify-content-md-center">
  <div class="overlay spinner" style="display:none">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status" style="width: 20rem;height: 20rem;">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="shadow p-3 bg-body rounded mt-4 d-grid col-5 mx-auto">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-interval="false" data-bs-pause="true" data-bs-keyboard="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active align-items-center flex-column p-2">
          <div class="text-center" style="height:500px;">
            <img th:src="@{/images/enterprise-v2.png}" style="height:300px;opacity: 0.8;" alt="Login">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h4 class="fw-normal">Verify your Identity</h4>
            <p class="font-weight-light text-muted">Please proceed to identity to access to the Employee Portal</p>
          </div>
        </div>
        <div class="carousel-item align-items-center flex-column p-2">
          <div class="row text-center" style="height:500px;">
            <div class="card border-0">
              <div class="card-block text-center">
                <div style="text-align:center;">
                  <img th:src="@{/images/login.png}" style="height:220px;" class="img-radius" alt="User-Profile-Image">
                </div>
                <h4 class="mt-3 display"></h4>
                <div class="row">
                  <span class="user-info-1 text-muted"></span>
                  <span class="user-info-2 text-muted"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h4 class="fw-normal">Get your Verifiable Credentials</h4>
            <p class="font-weight-light">Proceed to obtain your Employee Verifiable Credential</p>
          </div>
        </div>
        <div class="carousel-item carousel-item align-items-center flex-column p-2">
          <div class="row text-center" style="height:500px;">
            <div id="qrcode"></div>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="fw-normal">Scan the QR code with Microsoft Authenticator to retrieve and save your Verified ID</h5>
            <p> In the app, open the verified ID tab and tap on the QR code scan icon.</p>
          </div>
        </div>
        <div class="carousel-item carousel-item align-items-center flex-column p-2">
          <div style="height:500px;" class="text-center">
            <img th:src="@{images/magnolia-card.png}" style="height:200px;" alt="Login"></img>
            <img class="credential-success" src="https://cdn-icons-png.flaticon.com/512/7799/7799536.png" style="width:75px;display:none;opacity: 0.9;">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h4 class="fw-normal credential-title">Follow the instructions with the device</h4>
            <p class="credential-subtitle">Waiting for digital wallet</p>
          </div>
        </div>
      </div>
      <!--
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      -->
    </div>
    <div class="tab-content mb-5 mt-3">
      <div class="tab-pane step-0 fade show active" role="tabpanel" aria-labelledby="0-tab" tabindex="0">
        <div class="d-grid gap-2 col-8 mx-auto">
          <a href="issuer" class="btn btn-primary">Sign in with Enterprise Identity Provider</a>
        </div>
      </div>
      <div class="tab-pane step-1 fade show" role="tabpanel" aria-labelledby="0-tab" tabindex="0">
        <div class="d-grid gap-2 col-8 mx-auto">
          <button class="btn btn-primary step-0">Employee Verifiable Credential</button>
        </div>
      </div>
      <div class="tab-pane step-2 fade show" role="tabpanel" aria-labelledby="1-tab" tabindex="0">
      </div>
      <div class="tab-pane step-3 fade show" role="tabpanel" aria-labelledby="2-tab" tabindex="0">
      </div>
    </div>
  </div>
</div>
<footer class="p-4 rounded footer shadow-sm">
  <div class="d-lg-flex justify-content-between">
    <div>
    </div>
    <div class="copyright">
      <p>Developed and maintained by © <a href="https://twogenidentity.com/" target="_blank"><img width="200" height="20" src="https://twogenidentity.com/wp-content/uploads/2022/12/site-logo.png" alt="TwoGen Identity"></a></p>
    </div>
    <div>
    </div>
  </div>
</footer>
</body>
<script>
    console.log("Hello !");
    var steps = document.getElementById('carouselExampleDark');
    steps.addEventListener('slide.bs.carousel', function (e, a) {
      console.log(e.from + " -> " + e.to);
      document.querySelector('.step-' + e.from).classList.remove('active');
      document.querySelector('.step-' + e.to).classList.add('active');
      // document.querySelector('.carousel-control-prev').classList.remove('d-none');
    })
</script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<style>
        .overlay {
          position: fixed;
          width: 100%;
          height: 100%;
          z-index: 1000;
          top: 40%;
          left: 0px;
          opacity: 0.5;
          filter: alpha(opacity=50);
        }
        
        .btn-primary {
          background-color:#1b46b3;
        }

        .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 80px;
        }
    </style>
</html>